<h1>Ranking</h1>
<div class="container">
  <% @users.each do |user| %>

  <br>

  <h3><%= user.email%></h3>
  <p><%= user.photo%></p>
  <p><%= user.completedtasks.count%></p>
  <p><%= user.photo%></p>


  <% end %>
</div>
