<div class="container">
    <h1>Ranking Diechiochero</h1>

    <br>

  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Foto</th>
        <th scope="col">Usuario</th>
        <th scope="col">TO DOS completados</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.photo%></td>
        <td><%= user.email%></td>
        <td><%= user.completedtasks.count%></td>

      </tr>
      <tr>
        <% end %>
      </tbody>
    </table>
  </div>
