

<div class="container">
  <h1>Completa las Tareas Diechiocheras</h1>
  <br>
  <table class="table">
    <% @todos.each do |todo| %>
    <tbody>
  <tr>
        <td><%= image_tag todo.photo %></td>

          <td><div class="p-3 mb-2 bg-dark text-white"><h3><%= todo.name %></h3></div>
          <%= link_to "Completado!", todo_completedtasks_path(todo), class: 'btn btn-success', method: :post %></td>
          <tr>
          <td><%= link_to 'Ver Detalles', todo, class: "btn btn-info" %></td>
      <% end %>
        </tr>
    </tbody>

    </div>
  </div>
